
.header {
	padding-top:30px;
	background: url('../images/slider_bg.jpg') no-repeat left;
	background-size: 100%;
	margin-right: 0px;
}
.titleC{
	margin-top:65px;
}

.naVcustom {
		min-height: 55px;
	}
.nav-brand{
	color: #0275d8;
}

.nav-link{
	font-size: 14px;
	/*margin-right:30px;*/
	/*margin-left:px;*/
	text-transform: uppercase;
}
.formC{
	margin-left:27rem;
}
.footer{
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: auto;
		background-color: #d9edf7;
		border-color:#bcdff1;
		color:#31708f;
		z-index: 1050;
		box-shadow: 0px 0px 10px #888888;
		border-radius: 10px;
		margin-bottom: 4px;
		margin-right: 3px;
		margin-left: 3px;
}

/*call outs*/
.bs-callout {
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.bs-callout code {
border-radius: 3px;
}
.bs-callout+.bs-callout {
margin-top: -5px;
}
.bs-callout-default {
border-left-color: #777;
}
.bs-callout-primary {
border-left-color: #428bca;
}
.bs-callout-success {
border-left-color: #5cb85c;
}
.bs-callout-danger {
border-left-color: #d9534f;
}
.bs-callout-warning {
border-left-color: #f0ad4e;
}
.bs-callout-info {
border-left-color: #5bc0de;
}
/**/
.card{
	max-width: 100%;
	word-wrap: break-word;
}
/*.modal-body{
	max-width: 100%;
	word-wrap: break-word;
}
*/
@media only screen and (max-width: 768px) {
	.naVcustom .navbar-toggler {
		border-color: #FFF;
	}
	.naVcustom {
		min-height: 55px;
		width: 100% !important;
		margin-right: 0px;
		margin-left: 0px;
	}
	.naVcustom .navbar-collapse{
		border-color: #3b3b3b;
	}
	.naVcustom {
		background-color: #3b3b3b;
		border:none;
	}
	.navbar-nav {
		margin: 0px 0px;
	}
	.titleC{
	margin-top:0px;
	}
	.header{
		padding-top: 0px;
		background: none;
		margin-top:0px;
		margin-right: 0px;
	}
.titleCC{
	font-size: 1.5rem;
}

}
