
.mainScreen{
		margin-top: 10px;
		margin-right: 50px;
		margin-left: 50px;
		border:2px solid #555;
		font-size: 20px;
		letter-spacing: 2px;
		overflow-x: auto;
		}

.userForm{

}
table{
		margin-top: 10px;
		margin-right: 50px;
		margin-left: 50px;
		table-layout: auto;
		/*width: 100%;*/
		font-size: 13px;
		letter-spacing: 1px;
		border-collapse: collapse;
}
.headSmall{
	width:50px;
}
tr{
	display: table-row;
}
tr:nth-child(even) 
	{background-color: #E0E0E0; }
th{
	color: #FFFFFF;
	background-color:#4CAF50;
}
th, td{
	border-bottom: 1px solid #ddd;
	height:20px;
	padding: 12px;
    text-align: left;
    vertical-align: bottom;
    border-right: 1px solid #ddd;
}
.userLabel{
	display:block;
	height: 2px;
}
.userLabelError{
	display:block;
	height: 2px;
	color: red;
}
.textbox{
	padding:05px;
	margin-top:0px;
	margin-left: 50px;
		border:none;
		border-radius: 05px;
		border-bottom: 2px solid #3a3;
		border-right: 2px solid #3a3;
	width:400px;
		font-size:15px;
		font-family: Verdana;
		color:#3a3;
		font-weight: bold;
}
.textarea{
	height:150px;
	padding:05px;
	margin-top:0px;
	margin-left: 50px;
		border:none;
		border-radius: 05px;
		border-bottom: 2px solid #3a3;
		border-right: 2px solid #3a3;
	width:50%;
		font-size:15px;
		font-family: Verdana;
		color:#3a3;
		font-weight: bold;
}
.selector{
	padding:05px;
		border:none;
		border-radius: 05px;
		border-bottom: 2px solid #3a3;
		border-right: 2px solid #3a3;
	margin-left: 50px;
	width:400px;
		font-size:15px;
		font-family: Verdana;
		color:#555;
		font-weight: bold;
}
.button{
		padding: 5px;
		background-color: #555;
		color:#fff;
		margin-top: 10px;
		margin-left:50px;
		border:1px solid #fff;
		border-radius: 10px;
		width:150px;
		height:40px; 
		font-family: Helvetica;
		font-size:15px;
}
.button:hover{
		background-color: #3a3;
		color:#fff;
		font-size: 18px;
		/*border:2px solid #000;*/
	}
.responseScreen{
		margin-top: 05px;
		margin-right: 10px;
		margin-left: 10px;
		border:2px solid #555;
		font-family: Helvetica;
		font-size: 20px;
		letter-spacing: 2px;
}	