/*Style for Admin Section*/

.mainScr{
		margin-top: 10px;
		margin-right:50px;
		margin-left: 50px;
		border:1px solid #999;
		overflow-x:auto
		}

table{
		table-layout: auto;
		width: 100%;
		font-size: 13px;
		letter-spacing: 1px;
		border-collapse: collapse;
}

tr{
	display: table-row;
}
tr:nth-child(even) {background-color: #E0E0E0; }
th{
	color: #FFFFFF;
	background-color:#4CAF50;
}
th, td{
	border-bottom: 1px solid #ddd;
	height:20px;
	padding: 12px;
    text-align: left;
    vertical-align: bottom;
    border-right: 1px solid #ddd;
}
.headSmall{
	width:50px;
}
.replyDiv{
		margin-top: 50px;
		margin-right:50px;
		margin-left: 50px;
		border:1px solid #3a3;
		overflow-x:auto
		height:200px;
}
.textArea1{
	height:200px;
	padding:05px;
	margin-top:10px;
	margin-left: 50px;
		border:none;
		border-radius: 05px;
		border-bottom: 2px solid #3a3;
		border-right: 2px solid #3a3;
	width:50%;
		font-size:15px;
		font-family: Verdana;
		color:#3a3;
		font-weight: bold;
}
.login_error{
		margin-left: 80px;
		font-family: Helvetica;
		font-size: 20px;
		color:#900;
}
.userErrorLabel{

}
.button{
		padding: 5px;
		background-color: #555;
		color:#fff;
		margin-top: 05px;
		margin-left:170px;
		border:1px solid #fff;
		border-radius: 10px;
		width:150px;
		height:40px; 
		font-family: Helvetica;
		font-size:15px;
}
.button:hover{
		background-color: #3a3;
		color:#fff;
		font-size: 16px;
		/*border:2px solid #000;*/
	}
.textbox{
	margin-top: 30px;
	margin-left: 100px;
		height:40px;
		padding:4px;
		display:block;
		border:none;
		border-bottom:2px solid #3a3;
		border-right:2px solid #3a3; 
		/*solid #808080;*/
		width:50%;
		font-size:20px;
		font-family: Verdana;
		color:teal;
		/*font-weight: bold;*/
}
.label{
	margin-left: 10px;
		font-family: Helvetica;
		font-size: 20px;
		color:#3a3;
}
.dropdown{
	padding:05px;
		border:none;
		border-radius: 05px;
		border-bottom: 2px solid #555;
		border-right: 2px solid #555;
	margin-left: 50px;
	width:400px;
		font-size:15px;
		font-family: Verdana;
		color:#555;
		font-weight: bold;
}

.login_form
{
	padding:10px;
	background-color: 

}
.login_header{
	color:#fff;
	background-color: #3a3
}